extends layout
block loadFiles
  +js('/js/index.js')
  +js('/js/smooth-scroll.min.js')
block contents
  .menu-bar#data-scroll-header
    a.menu-title(href="#" data-scroll)
      img.menu-logo(src="./img/logo.png")
    .menu-toggle-button#toggleButton
      img.menu-logo(src="./img/logo.png")
    ul.menu-list
      li.menu-item
        a.menu-link(href="#story" data-scroll) Story
      li.menu-item
        a.menu-link(href="#charactor" data-scroll) Charactor
      li.menu-item
        a.menu-link(href="#info" data-scroll) Information
      li.menu-item
        a.menu-link(href="#music" data-scroll) Music
    .menu-blank
  .bg-img
  .container
    .top#top
      img(src="./img/kv02.png")
    .page#c91
      h2 C91にて未完成版を入手していただいた方へ
      p C91にて『未完成の「ねがいごと」 01サイドヒラカレルハコノ』の未完成版を入手していただいた方は、今回頒布する完成版と無料で交換していただけます。
      p 完成品で当作品をお楽しみいただけますので、当日は是非スペースにお立ち寄りください。
      p お手数ではございますが、当日は購入証明のため、現品あるいは現品の写真の提示をお願いいたします。
    .page#story
      h2 Story
      p.bold 「そう、都市伝説。なんでも、ねがいをかなえてくれる「かみさま」がいる——んだって。結構話題になってるのさ」
      br
      //- p 主人公——ニノ森 二人には願い事があった。
      //- p 幼少期に見たその願い事は、彼の一部として、もはや思考にあがることもなかった。
      //- p しかし、彼は「かみさま」の存在を知った。
      //- p「かみさま」——それは、「ねがいごと」を叶えてくれるという都市伝説。
      //- p 彼はそんな「かみさま」に不信感を抱きつつも、徐々にその概念へと接近していく——。
      p 主人公——ニノ森 二人には願い事があった。
      p 幼少期に見たその願い事は、彼の一部として、
      p もはや思考にあがることもなかった。
      p しかし、彼は「かみさま」の存在を知った。
      p 「かみさま」——それは、
      p 「ねがいごと」を叶えてくれるという都市伝説。
      p 彼はそんな「かみさま」に不信感を抱きつつも、
      p 徐々にその概念へと接近していく——。
    .page#charactor
      h2 Charactor
      ul.char-list
        li.char-item#char01
          //- サムネイル画像は96px
          img(src="./img/char01_thumb.png")
        li.char-item#char02
          img(src="./img/char02_thumb.png")
        li.char-item#char03
          img(src="./img/char03_thumb.png")
      .char-box
        .char-content.char-selected#char01
          .char-name
            h3 六花 夢見
          .char-img
            img(src="./img/char01.png")
          .char-desc
            p 主人公の先輩にして幼馴染にして
            p 姉的存在。
            p 真っ白ファンキーな見た目だが、
            p 極度の人見知り。
        .char-content#char02
          .char-name
            h3 一ノ瀬 コトミ
          .char-img
            img(src="./img/char02.png")
          .char-desc
            p 主人公の同級生。
            p 外国の血が混じっていたり、
            p 混じっていなかったり。
            p 態度は尖っているが、
            p 心根は優しい芯の強い女の子。
        .char-content#char03
          .char-name
            h3 ニノ森 二人
          .char-img
            //img(src="./img/char03.png")
          .char-desc
            p 主人公。
            p 幼少期に抱いた願い事を、
            p 現在も思考の中心に置いている。
    .page#info
      h2 Information
      h3 頒布情報
      h4 ----- イベント -----
      p C92 2017/08/11 (1日目)
      p 東地区 こ 21 b「しれせせ」
      h4 ----- 内容 -----
      p 青春後退ビジュアルノベルゲーム
      p ボカロシングルCD
      p ※一枚のディスクにノベルゲームと音楽CDが入っています。
      h4 ----- 価格 -----
      p ¥500
      br  
      a.body-link(href="#c91" data-scroll) ※C91で未完成版を入手した方はこちらをお読みください。
      h3 動作環境
      table.info-env
        tr
          td OS
          td PC: Windos7 以降 / Mac: 10.7 以降
        tr
          td メモリ
          td 2GB以上
        tr
          td 解像度
          td 800×600px
      p ブランクディスク、バグ等の不具合がございましたら、
      p shiresese(at)gmail.com までご連絡ください。
      h3 スタッフ
      p シナリオ・グラフィック・背景・プログラム・スクリプト
      p 挵
      p サウンド・デザイン・背景・プログラム・スクリプト
      p shire
    .page#music
      h2 Music
      p 同梱している音楽CDについて。
      h3 Track list
      p 1. ホワイトアウト
      p 作曲 shire, 歌 IA(VOCALOID)
      p 2. それはまるで、恋する少女のような。
      p エンディング主題歌・作曲 shire, 歌 IA(VOCALOID)
    .footer
      a(href="http://shiresese.github.io/")
        img(src="./img/srss_bl.png")
